.sidebar-container {
  width: 45px;
  height: 45px;
  background: #000;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.sidebar-container:hover {
  width: 250px;
  height: 94vh;
  border-radius: 30px 10px 30px 10px;;
}

.round-button {
  width: 45px;
  height: 45px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.round-button.hidden {
  opacity: 0;
}

.sidebar-content {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s 1s;
}

@keyframes showSidebarContent {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  99% {
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.sidebar-container:hover .sidebar-content {
  display: block;
  animation: showSidebarContent 0.3s forwards;
}

.sidebar-content p {
  margin-left: 2px;
  color: #fff;
  padding: 5px;
  letter-spacing: 1.6px;
}

.sidebar-container:hover .sidebar-content li, .sidebar-content a {
  color: #fff;
  padding: 5px;
  margin-left: -18px;
  letter-spacing: 1.6px;
}

.sidebar-content ul {
  list-style-type: none;
}

.sidebar-content a {
  text-decoration: none;
  font-size: large;
  font-weight: 450;
}

.sidebar-content a:hover {
  color: rgb(165, 165, 165);
  font-weight: 400;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.sidebar-content li:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.sidebar-container:hover .sidebar-content hr {
  border-color: #fff;
}